.whatsapp-image-2024-08-19-at-8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -21px;
  max-height: 100%;
  width: 474px;
  object-fit: cover;
}
.wali-kelas {
  position: absolute;
  top: 206px;
  left: 193.2px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 47.8px;
  height: 9.4px;
  z-index: 2;
}
.inner-content {
  height: 286px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.inner-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 21px;
  box-sizing: border-box;
  max-width: 100%;
}
.whatsapp-image-2024-08-19-at-81 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background-bawah {
  width: 474px;
  margin: 0 !important;
  position: absolute;
  right: -23px;
  bottom: -32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  opacity: 0.2;
  text-align: center;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
  font-family: var(--font-abhaya-libre-extrabold);
}
.background-icon {
  position: absolute;
  top: -126px;
  left: -1px;
  width: 431px;
  height: 497px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 315px;
  left: 14px;
  filter: blur(50px);
  background-color: var(--color-gray-100);
  width: 483px;
  height: 133px;
  z-index: 1;
}
.background-parent {
  width: 100%;
  height: 448px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.selamat-datang-di,
.we-always-together,
.xii-ips-1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  backdrop-filter: blur(4px);
  flex-shrink: 0;
  z-index: 2;
}
.we-always-together,
.xii-ips-1 {
  font-size: 40px;
  z-index: 1;
  margin: -10.5px 0 0;
}
.we-always-together {
  font-size: inherit;
  z-index: 2;
}
.selamat-datang-di-website-parent {
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iphone-14-15-pro-max-1-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 29px 0;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-acme);
}
.whatsapp-image-2024-08-19-at-82,
.whatsapp-image-2024-08-19-at-83 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -7px;
  max-height: 100%;
  width: 243px;
  object-fit: cover;
}
.whatsapp-image-2024-08-19-at-83 {
  left: 519px;
}
.whatsapp-image-2024-08-19-at-84,
.whatsapp-image-2024-08-19-at-85,
.whatsapp-image-2024-08-19-at-86 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 782px;
  max-height: 100%;
  width: 243px;
  object-fit: cover;
}
.whatsapp-image-2024-08-19-at-85,
.whatsapp-image-2024-08-19-at-86 {
  left: 256px;
}
.whatsapp-image-2024-08-19-at-86 {
  left: 1044px;
}
.whatsapp-image-2024-08-19-at-87,
.whatsapp-image-2024-08-19-at-88,
.whatsapp-image-2024-08-19-at-89 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1570px;
  max-height: 100%;
  width: 243px;
  object-fit: cover;
}
.whatsapp-image-2024-08-19-at-88,
.whatsapp-image-2024-08-19-at-89 {
  left: 1833px;
}
.whatsapp-image-2024-08-19-at-89 {
  left: 1307px;
}
.whatsapp-image-2024-08-19-at-810,
.whatsapp-image-2024-08-19-at-811,
.whatsapp-image-2024-08-19-at-812 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 2096px;
  max-height: 100%;
  width: 243px;
  object-fit: cover;
}
.whatsapp-image-2024-08-19-at-811,
.whatsapp-image-2024-08-19-at-812 {
  left: 2622px;
}
.whatsapp-image-2024-08-19-at-812 {
  left: 2359px;
}
.image-gallery {
  align-self: stretch;
  height: 310px;
  position: relative;
  overflow-x: auto;
  flex-shrink: 0;
  z-index: 2;
}
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(50px);
  background-color: var(--color-gray-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-inner {
  position: absolute;
  top: 57.3px;
  left: 142.7px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 197px;
  height: 1px;
  z-index: 2;
}
.line-icon,
.separator-box {
  position: absolute;
  z-index: 3;
}
.separator-box {
  top: 0.9px;
  left: 215.8px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 49.2px;
  height: 8.9px;
}
.line-icon {
  top: 56.1px;
  left: 239.7px;
  width: 0.8px;
  height: 94.4px;
  object-fit: contain;
}
.frame-child1,
.line-div {
  position: absolute;
  top: 79.6px;
  left: 337.2px;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 2px;
  height: 13.4px;
  z-index: 2;
}
.frame-child1 {
  top: 191.8px;
  left: 319.2px;
  height: 14.5px;
}
.ketua-kelas {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  z-index: 2;
}
.name-pair-child {
  height: 8.9px;
  width: 38.2px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
}
.doni-sugiharto {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  z-index: 4;
}
.name-pair,
.student-names {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.name-pair {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-11xs-1) var(--padding-11xs) 0;
  white-space: nowrap;
  z-index: 3;
}
.student-names {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  margin-top: -1.6px;
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.ketua-kelas-parent {
  width: 47.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.rectangle-group {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: 1.5px var(--padding-11xs) 0;
  white-space: nowrap;
  z-index: 3;
}
.frame-wrapper,
.rectangle-group,
.role-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  margin-top: -1.7px;
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.role-container {
  position: absolute;
  top: 42.5px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.horizontal-rule {
  height: 13.4px;
  width: 2px;
  border-right: 2px solid var(--color-white);
  z-index: 2;
}
.frame-child2,
.frame-child3,
.horizontal-rule {
  position: relative;
  box-sizing: border-box;
}
.frame-child2 {
  width: 2px;
  height: 13.4px;
  border-right: 2px solid var(--color-white);
  z-index: 2;
}
.frame-child3 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-white);
  z-index: 6;
  margin-top: -11.4px;
}
.horizontal-rule-parent,
.line-parent {
  height: 11.4px;
  display: flex;
  justify-content: flex-start;
}
.line-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -2px;
}
.horizontal-rule-parent {
  position: absolute;
  top: 29.6px;
  left: 22.9px;
  width: 196px;
  flex-direction: row;
  align-items: flex-start;
}
.ibrahim-hasan-spd {
  position: absolute;
  top: 0;
  left: 98.4px;
  font-size: var(--font-size-9xs);
  letter-spacing: 0.01em;
  color: var(--color-black);
  display: inline-block;
  width: 44.3px;
  height: 7.8px;
  z-index: 4;
}
.class-structure-child {
  position: absolute;
  top: 6.1px;
  left: 119.9px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 24.5px;
  z-index: 5;
}
.class-structure {
  position: absolute;
  top: 2px;
  left: 119.8px;
  width: 242.1px;
  height: 59.9px;
}
.frame-child4,
.horizontal-divider {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.frame-child4 {
  top: 0;
  border-right: 2px solid var(--color-white);
  width: 2px;
  height: 13.4px;
  z-index: 2;
}
.horizontal-divider {
  top: 1.2px;
  border-top: 1px solid var(--color-white);
  width: 197px;
  height: 1px;
  z-index: 4;
}
.line-group {
  height: 11.4px;
  flex: 1;
  position: relative;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 38px 0 37px;
}
.sekretaris {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-8xs);
  letter-spacing: 0.01em;
  color: var(--color-white);
  display: inline-block;
  width: 47.8px;
  height: 9.4px;
  z-index: 2;
}
.student-pair {
  position: absolute;
  top: 6.7px;
  left: 4.9px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 38.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-1) var(--padding-11xs) 0;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 3;
}
.anggitha-zalfa {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  z-index: 3;
}
.student-pair1 {
  position: absolute;
  top: 17.8px;
  left: 4.9px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 38.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-2) var(--padding-11xs) 0;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.sekretaris-parent {
  height: 27.1px;
  flex: 1;
  position: relative;
}
.content-block-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 18.9px var(--padding-sm);
}
.frame-child5 {
  height: 14.5px;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
}
.security-block-inner {
  height: 12.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) 0 var(--padding-4xl);
  box-sizing: border-box;
}
.keamanan {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  flex-shrink: 0;
  z-index: 2;
}
.security-block {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.security-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  margin-top: -2.7px;
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.security-block-parent {
  width: 47.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
}
.name-block {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-11xs-1) var(--padding-11xs) 0;
  white-space: nowrap;
  z-index: 2;
}
.content-block,
.name-block,
.student-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.student-info {
  width: 47.1px;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.content-block {
  width: 62.6px;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.cleaning-block-child {
  height: 13.4px;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 4;
}
.cleaning-block,
.cleaning-pair1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.cleaning-block {
  height: 11.4px;
  padding: 0 var(--padding-4xl) 0 var(--padding-3xl);
}
.cleaning-pair1 {
  position: absolute;
  top: 17.9px;
  left: 4.9px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 38.2px;
  padding: var(--padding-11xs-1) var(--padding-11xs) 0;
  white-space: nowrap;
  z-index: 2;
}
.cleaning-team {
  align-self: stretch;
  height: 27.1px;
  position: relative;
  flex-shrink: 0;
}
.cleaning-block-parent {
  width: 47.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.1px;
}
.treasurer-names {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-11xs-1) var(--padding-11xs) 0;
  white-space: nowrap;
  z-index: 3;
}
.treasurer-names,
.treasurer-names1,
.treasurer-pair {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.treasurer-names1 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-11xs-2) var(--padding-11xs) 2.1px;
  white-space: nowrap;
  z-index: 2;
}
.treasurer-pair {
  flex: 1;
  flex-direction: column;
  gap: 1.9px;
  flex-shrink: 0;
}
.health-container-child {
  height: 14.5px;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  z-index: 2;
}
.vina-nahdina {
  width: 34.7px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.health-pair {
  position: absolute;
  top: 6.7px;
  left: 5px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 38.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-1) var(--padding-12xs) 0;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 3;
}
.laudya-intan {
  width: 34.7px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.health-pair1 {
  position: absolute;
  top: 17.9px;
  left: 5px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 38.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-1) var(--padding-12xs) 0;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.health-team {
  align-self: stretch;
  height: 27.1px;
  position: relative;
}
.health-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.6px;
}
.financial-block-parent,
.health-block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-block-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-sm);
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.financial-block-parent {
  width: 62.5px;
  flex-direction: column;
  gap: 20.7px;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
}
.content-block-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nested-structure {
  position: absolute;
  top: 79.6px;
  left: 105px;
  width: 271.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5px;
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.footer-divider-icon {
  position: absolute;
  top: 141px;
  left: 128.4px;
  width: 225px;
  height: 0.5px;
  object-fit: contain;
  z-index: 5;
}
.footer-separator,
.frame-child6 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.footer-separator {
  top: 0;
  border-right: 2px solid var(--color-white);
  width: 2px;
  height: 14.5px;
  z-index: 2;
}
.frame-child6 {
  top: 1.1px;
  border-top: 1px solid var(--color-white);
  width: 163.5px;
  height: 1px;
  z-index: 3;
}
.footer-separator-parent,
.group-icon {
  position: absolute;
  top: 191.8px;
  left: 159.2px;
  width: 162.5px;
  height: 12.5px;
}
.group-icon {
  top: 327.7px;
  left: 35px;
  width: 411px;
  height: 0.3px;
  z-index: 2;
}
.kelas-xii-ips {
  position: absolute;
  bottom: 14px;
  left: -46px;
  font-family: var(--font-alata);
  display: inline-block;
  width: 284.9px;
  height: 19.3px;
  z-index: 2;
}
.name-holder {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-2) var(--padding-11xs) 0;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 3;
}
.build-by,
.follow-us {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 2;
}
.build-by {
  width: 37.9px;
  display: inline-block;
  flex-shrink: 0;
}
.follow-us {
  flex: 1;
}
.build-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.8px;
}
.doni {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}
.contact-details {
  width: 21.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.instagram,
.tiktok {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.instagram {
  align-self: stretch;
  z-index: 3;
}
.tiktok {
  flex: 1;
  z-index: 4;
}
.social-media1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 9px 0 11px;
  margin-top: -2.2px;
}
.social-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.contact-details-parent {
  width: 81.6px;
  flex-direction: row;
  align-items: flex-start;
  gap: 11.9px;
  margin-top: -4px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
  font-family: var(--font-alata);
}
.build-info,
.build-info-wrapper,
.contact-details-parent {
  display: flex;
  justify-content: flex-start;
}
.build-info {
  width: 89.5px;
  flex-direction: column;
  align-items: flex-end;
}
.build-info-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-4xs);
  font-family: var(--font-koulen);
}
.religious-info-parent {
  width: 143.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 67.1px;
}
.single-person-child {
  height: 8.9px;
  width: 39.4px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
}
.dzaky-naufal {
  width: 33.5px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.jasmani-parent,
.person {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.person {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 3px;
  margin-top: -1.6px;
  font-size: var(--font-size-9xs);
  color: var(--color-black);
}
.jasmani-parent {
  width: 47.8px;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-child7 {
  height: 44.2px;
  width: 87.7px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.frame-container,
.frame-parent {
  display: flex;
  align-items: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-parent {
  width: 136px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 58.7px;
}
.footer-content,
.rectangle-parent {
  text-align: center;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
  font-family: var(--font-abhaya-libre-extrabold);
}
.footer-content {
  position: absolute;
  top: 205.2px;
  left: 41.7px;
  width: 391.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle-parent {
  margin-left: -61px;
  width: 483px;
  height: 364px;
  position: relative;
  max-width: 135%;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1 {
  width: 100%;
  height: 932px;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 101px 36px 380px;
  box-sizing: border-box;
  gap: 37px;
  line-height: normal;
  letter-spacing: normal;
}
